a
{
    float:right;
    margin:0;
    color:purple;
    font-size:20px;
    height: 40;
    line-height: 1.6;
    
}
img{
    float:left;
    margin:0;
    height:45px;
    width:80px;

}
.bar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  .nav {
    float: left;
  }
  
  .nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 10px 5px 20px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  .nav a:hover {
    background-color: #111;
  }
  .space
  {
      line-height: 1.9;
  }
  table{
      border-collapse: collapse;
      text-align: center;
      
  }
  table, td
  {
      border:2.5px solid black;
  }
  .width
  {
      width:20%;
  }
  td{
      height: 35px;
      font-family: 'Arimo', sans-serif;
      font-family: 'Noto Sans TC', sans-serif;
  }
  #pic
  {
      float: right;
      height: 120px;
      width:120px;
  }
  #list
  {
    list-style-type: none;
  }
  #logo
  {
      float: left;
  }
  
  